//PAGINA CONTACTOS

.formulario{
    .logoContacto{
        width: 30vw;
        @include tableth {
            display: none;
        }
    }
    select{
        line-height: 1.5;
        padding: 1rem .75rem;
        border: 1px solid black;
        background: rgb(113, 112, 114);
        font-family: map-get($tema, fuenteTitulos);
        font-size: 1rem;
        @include desktop {
            font-size: 1rem;
        }
    }
    input{
        @extend select;    
    }
    textarea{
        @extend select;
        resize: none;
        height: 10rem;
    }  
    button{
        @extend select;
        font-size: .7rem;      
    }
    ::placeholder{
        color: inherit;
        opacity: 1;    
    }
}
